<div id="<%= dom_id apartment_photo %>">
  <p>
    <strong>Image url:</strong>
    <%= apartment_photo.image_url %>
  </p>

  <p>
    <strong>Apartment:</strong>
    <%= apartment_photo.apartment_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= apartment_photo.description %>
  </p>

</div>
