<h1>Editing apartment photo</h1>

<%= render "form", apartment_photo: @apartment_photo %>

<br>

<div>
  <%= link_to "Show this apartment photo", @apartment_photo %> |
  <%= link_to "Back to apartment photos", apartment_photos_path %>
</div>
